<h1>Form Teams</h1>
<%= form_tag(:cohort_teams) do %>
<table class="table">
<thead>
<tr>
<th>Student</th>
<% @cohort.current_pitches.each do |pitch| %>
  <th><%= pitch.name %></th>
<% end %>
  <th>Team</th>
</tr>
</thead>
<tbody>
<% @cohort.students.each do |student| %>
<tr>
  <td><%= student.full_name %></td>
  <% @cohort.current_pitches.each do |pitch| %>
  <td><%= student.round_votes(@cohort.stage_id, pitch) %></td>
  <% end %>
  <td><%= select_tag("students[#{student.id}", options_for_select(@options)) %></td>
</tr>
<% end %>
</tbody>
</table>
<%= submit_tag('Save Teams') %>
<% end %>